<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center" >
        <h1>About this page</h1>
        <p>On this page you can generate random password,</p>
        <p>it can consist of uppercase letter, numbers and special numbers.</p>

        <a href="{% url 'home' %}"> Return </a>
    </div>
</body>
</html>
